.sideBar {
  width: 229px;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
}

.sideBar__info {
  display: flex;
}

.sideBar__avatar {
  width: 56px;
  height: 56px;
  margin-right: 16px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.2);
}

.sideBar__username {
  margin-bottom: 39px;
}

.sideBar__edit {
  border-style: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  padding: 0;
  cursor: pointer;
}

.sideBar__logout {
  border-style: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  padding: 8px 0;
  cursor: pointer;
}
